<header>

  <nav #header class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index:1000;">
    <!-- reference link: http://stackoverflow.com/questions/14244357/twitter-bootstrap-v2-2-1-dropdown-links-not-working-on-mobile -->

    <div class="container-fluid">

      <div class="navbar-header">
        <span class="navbar-brand" href="#">Concepts of Angular2</span>

        <!-- Hamburger icon on small devices-->
        <button #hamburgericon type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thisNavBar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="thisNavBar">
        <ul class="nav navbar-nav">

          <!-- home is a static route -->
          <li><a routerLink="home" class="refreshNav" (click)="onHeaderClick()">Home</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts<span class="caret"></span></a>
            <!-- add href reference link: http://stackoverflow.com/questions/21245090/bootstrap-3-modal-in-navbar-not-link-not-clickable-in-ios-->
            <!-- another reference link: http://stackoverflow.com/questions/22383547/bootstrap-dropdown-menu-is-not-working -->
            <ul class="dropdown-menu" role="menu"><!-- added role="menu" -->
              <li *ngFor="let concept of concepts">
                <!--<a [routerLink]="['concepts', concept.conceptRoute]" class="refreshNav">{{concept.name}}</a>-->
                <a [routerLink]="['concepts', concept.conceptRoute]" (click)="onHeaderClick()">{{concept.name}}</a>
              </li>
            </ul>
          </li>

          <li><a routerLink="feedback" class="refreshNav" (click)="onHeaderClick()">Feedback</a></li>


        </ul>
      </div>

    </div>

  </nav>

</header>