<footer class="navbar navbar-bottom">

  <div class="container-fluid text-center">
    <div class="row">
      <p>
        <span><a href="https://github.com/sairaghavak">GitHub</a> </span>
        <span>&nbsp;</span>
        <span><a href="https://sairaghavak.blogspot.in">Blog</a></span>
        <span>&nbsp;</span>
        <span><a href="https://twitter.com/sairaghava_k">Twitter</a></span>
      </p>
    </div>
    <div class="row">
      <p class="copyright"><span>&copy; {{_year}}</span><span>. Sai Raghava Katepally</span></p>
    </div>
  </div>

</footer>