<h4>Components</h4>
<ul>
  <li>A component in Angular is the backbone of a template.</li>
  <li>Component without registration in Angular Module is of no use.</li>
  <li>
    <p>A html page with header, footer and container can be designed as a parent component(example: <code>&lt;app-root&gt;</code>)
      having 3 child components as shown below.</p>
    <div *ngIf="!codeSnippetModels[0].isLoading" class="text-center">
      <img src="assets/radar.gif" />
      <!--Free Gif icon downloaded from https://preloaders.net/en/free -->
    </div>
    <p [innerHtml]="codeSnippetModels[0].codeSnippet | trustedHtml"></p>
    <!-- without this pipe, we will face this "WARNING: sanitizing HTML stripped some content" in console log-->
  </li>
  <li>
    <p>Here is an example of an Angular2 component. To make it easy to understand I have made the below code a bit verbose by
      adding comments.
    </p>
    <div *ngIf="!codeSnippetModels[1].isLoading" class="text-center">
      <img src="assets/radar.gif" />
      <!--Free Gif icon downloaded from https://preloaders.net/en/free -->
    </div>
    <p [innerHtml]="codeSnippetModels[1].codeSnippet"></p>
  </li>

</ul>