<h4>DataBinding</h4>
<ul>
  <li>A concept of binding data between templates and components.</li>
  <li>
    <p>Data binding can be done in 3 ways.</p>
    <ol>

      <!-- 1. Component to Template -->
      <li>
        <p><strong>Component to Template</strong></p>
        <ul>
          <li>
            <p>Here data is sent from component in 2 ways again. </p>
          </li>
          <!-- Interpolation unordered list item -->
          <li>
            <p><strong><i><u>Interpolation</u></i></strong></p>
            <ul>
              <li>
                <strong>Examples:</strong>
                <ul>
                  <li><span><code>{{ interpolationSnippet1 }} </code></span>
                    <br> <span><strong>Output:</strong><pre> {{ interpolationSnippet1Output }} </pre></span></li>
                  <li><span><code>{{ interpolationSnippet2 }} </code></span>
                    <br>
                    <span><strong>Output:</strong><pre> {{ interpolationSnippet2Output }}</pre></span></li>
                  <li>In short, it functions like <code>System.out.println()</code> in Java. <br><strong>Example:</strong> <span><code>{{ interpolationSnippet3 }}</code></span>
                    <br><span><strong>Output:</strong><pre> {{ interpolationSnippet3Output }} </pre></span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- end of interpolation unordered list item -->

          <!-- Property Binding unordered list item -->
          <li>
            <p><strong><i><u>Property Binding</u></i></strong></p>
            <ul>
              <li>
                <strong>Examples:</strong>
                <ul>
                  <li><code>{{ pbSnippet1 }}</code>
                    <br>
                    <strong>Output:</strong>
                    <br>
                    <input type="text" [value]="2 + 2" [readonly]="booleanProperty" />
                  </li>
                  <li><code>{{ pbSnippet2 }}</code>
                    <br>
                    <strong>Output:</strong>
                    <br>
                    <input type="text" [value]="defaultTextMessage" [readonly]="true" />
                  </li>
                </ul>
                <br>
                <p><code>{{ pbcssCodeNote }}</code></p>
                <ul>
                  <li><code>{{ pbcssSnippet1 }}</code>
                    <br>
                    <strong>Output:</strong>
                    <br>
                    <div [style.display]="displayStyle ? 'none': 'inline'"> Inline display..</div>
                  </li>
                  <li><code>{{ pbcssSnippet2 }}</code>
                    <br>
                    <strong>Output:</strong>
                    <br>
                    <div [class]="'text-center text-uppercase'" [class.text-center]="false">z to a </div>
                  </li>
                </ul>
                <br>
                <p><code>{{ pbhtmlAttNote }}</code></p>
                <ul>
                  <li><code>{{ pbhtmlAttSnippet1 }}</code>
                    <br>
                    <strong>Output:</strong>
                    <br>
                    <div [attr.class]="'text-center text-uppercase'"> a to z </div>
                  </li>
                  <li><code>{{ pbhtmlAttSnippet2 }}</code>
                    <br>
                    <strong>Output:</strong>
                    <br>
                    <input [attr.type]="text" />
                  </li>
                </ul>
              </li>
            </ul>




          </li>


        </ul>
      </li>


      <hr>

      <!-- 2. Template to Component -->

      <li>
        <p><strong>Template to Component</strong></p>
        <ul>
          <li>Here data is sent from template to component.</li>
          <li>This is also known as Event Binding.</li>
          <li>
            <strong>Example:</strong>
            <ul>
              <li><code>{{ tcSnippet1 }}</code>
                <br>
                <strong>Output:</strong>
                <br>
                <img src="http://stackoverflow.com/users/flair/792580.png" (load)="pressF12()">
              </li>
            </ul>
          </li>
        </ul>
      </li>


      <hr>

      <!-- 3. Component to Template and Vice versa -->
      <li>
        <p><strong>Component to Template and Vice versa</strong></p>
        <ul>
          <li>This is commonly know as 2 way binding.</li>
          <li>
            <strong>Example:</strong>
            <ul>
              <li><code>{{ ctSnippet1 }}</code><br>
                <code>{{ ctSnippet2 }}</code>
                <br>
                <strong>Output:</strong>
                <br>
                <input type="text" [(ngModel)]="defaultTextMessage" size="50" />
                <br>
                <span> {{ defaultTextMessage }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  </li>
</ul>