<h4>Hello and welcome to the Concepts of Angular2.</h4>
<p>
    This is a Single Page Application developed using Angular2. As the name suggests, in this app I have tried to demonstrate
    the basic building blocks of Angular2.
</p>
<div>
    <p>
        <b>References</b>
    </p>
    <ul>
        <li>
            <a href="https://angular.io/docs/ts/latest/guide/">Angular Guide</a>
        </li>
    </ul>
</div>
<div *ngIf="!isImageLoaded" class="text-center">
    <img src="assets/radar.gif" />
    <!--Free Gif icon downloaded from https://preloaders.net/en/free -->
</div>
<img src="assets/images/sunset_time.png" (load)="onLoadAction()" />